<div class="container">
    <h3 class="center">Available Documents</h3>

    <ul class="center">
        <% docs.map(doc=>{ %>
        <li>
            <a href="/docs/<%- doc %>/"><%- doc %></a>
        </li>
        <% }) %>
    </ul>
</div>