<div class="container">
    <h3 class="center">Sign in</h3>
    <form method="post" action="/signin">

        <label>Username</label>
        <input type="text" placeholder="username" name="username" id="username">

        <label>Password</label>
        <input type="password" placeholder="password" name="password" id="password">

        <button>Sign in</button>

    </form>
</div>