<% include head.ejs %>

<div class="container">
    <h1 class="center heavy">DocLok</h1>



    <% if(locals.signedInUser){ %>
    <% include _doclist.ejs %>
    <% } else { %>
    <% include _signin.ejs %>
    <% } %>

</div>


<% include foot.ejs %>